body, html {
  text-align: center;
  font-family: Gotham, Helvetica, Arial, sans-serif;
  font-size: 1em;
}

section {
  width: 50%;
  margin: auto;
}

h1 {
  font-size: 2em;
font-family: 'Raleway';
}

h2 {
  font-size: 1.5em;
font-family: 'Kurale', serif;
}

p {
    font-family: 'Comic Neue', cursive;
}
/**********PHONE*********/
@media (max-width: 599px) {
/* 599px and lower */
    body{
        background:green;
    }
    
    h1 {
        color: #7b7d70;
    }
    h2 {
        color: #4eafb8;
    }
    p{
        color: #ff8641;
    }
}


/********TABLET**********/

@media (min-width: 601px) and (max-width: 768px){
/* 600px and lower */
    body{
        background:red;
    }
    
    h1{
        color: #02cbd2;
    }
    h2{
        color: #fcc02a;
    }
    p {
        color: #7b8f8e;
    }
}

/***********DESKPTOP********/
@media (min-width: 769px){
/* This code sets the background to purple on ALL browsers that are larger than 1200px*/
    body{
        background:purple;
    }
    h1 {
        color: #6e4b61;
    }
    h2 {
        color: #cabd61;
    }
    p{
        color: #c19e74;
    }
}